.song-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 300px;
  padding-bottom: 500px;
}

.song-item-wrapper {
  display: flex;
  justify-content: flex-end;
}

.song-item {
  margin-bottom: -3rem;
  transition: all 1s ease-out;
}
