.song-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding-top: 30vh;
  padding-bottom: 50vh;
  overflow-x: hidden;
}

.song-item-wrapper {
  display: flex;
  justify-content: flex-end;
}

.song-item {
  margin: -1rem;
  transition: all 3000ms cubic-bezier(0.15, 1, 0.26, 1);
}
