.song-menu {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.song-item-wrapper {
  display: flex;
  justify-content: flex-end;
}

.song-item {
  margin-bottom: -1.5rem;
  outline: 1px solid red;
  background-color: gray;
  transition: width 1s ease-out;
}
