/* https://www.fontsquirrel.com/fonts/aller */
@font-face {
  font-family: AllerRg;
  src: url("./Aller/Aller_Rg.ttf");
}
@font-face {
  font-family: AllerLt;
  src: url("./Aller/Aller_Lt.ttf");
}

html {
  cursor: url("./Assets/cursor.png") 64 64, auto;
  overflow-x: hidden !important;
}

body {
  margin: 0;
  color: white;
  height: 1080px;
  width: 1920px;

  font-family: AllerLt;
  font-size: 16px;
  background-color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

b {
  font-weight: 600;
  letter-spacing: 1px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

img {
  pointer-events: none;
}

* {
  user-select: none; /* Standard syntax */
}

/* scroll bar */
/* width */
::-webkit-scrollbar {
  width: 8px;
}


/* Handle */
::-webkit-scrollbar-thumb {
  background: white;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: lightgrey;
}
