/* https://www.fontsquirrel.com/fonts/aller */
@font-face {
  font-family: AllerRg;
  src: url("./Aller/Aller_Rg.ttf");
}
@font-face {
  font-family: AllerLt;
  src: url("./Aller/Aller_Lt.ttf");
}

body {
  margin: 0;
  color: white;
  height: 1080px;
  width: 1920px;

  overflow-x: hidden;

  font-family: AllerLt;
  font-size: 16px;
  background-color: black;

  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  cursor: url("./Assets/cursor.png"), auto;
}

b {
  font-weight: 600;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
